#resume-custom {
	width: 175px;
}

#resume-custom:hover {
	width: 175px;
}

#paragraph {
	font-size: 48px;
}

.subpage-paragraph {
	padding-bottom: 30px;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.7);
}

/* Override Webflow hover effects that cause movement */
.link-box:hover {
	direction: ltr !important;
	text-decoration: underline !important;
}