body {
	margin: 0px;
  	padding: 0px;
}

::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
}

/*
LANDING PAGE
Everything in class="screen" id="main"
*/
.main {
	top: 0;
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
	opacity: 1;
}

.homepage {
	color: white;
	background: black;
	/*background-image: url('../img/covermask.png');*/
	width: 100vw;
	min-height: 100vh;
	top: 0;
	position: fixed;
	z-index: -1;
}


/*NOTE this is also used in class="screen" id="res" section. Used for all titles.*/

.title {
	font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    font-weight: 900;
    letter-spacing: -2px;
/*	position: relative;
*/	margin-top: 0vh;
}

.homepage #t1 {
	padding-top: 28vh;
	height: 38vh;
	margin-left: 15.5vw;
	margin-bottom: 0vh;
}

.homepage #t2 {
	height: 10vh;
	padding-top: 0px;
	margin-left: 15.5vw;
	margin-bottom: 0vh;
}

.homepage .t3 {
	height: 10vh;
    padding-top: 0px;
    margin-left: 15.5vw;
    margin-bottom: 0vh;
    display: inline-block;
    -webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
    transition: all 1s;
}

.homepage .t4 {
    -webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
    transition: all 1s;
}

.claire {
    -webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
    transition: all 1s;
}

.hiddenn {
	opacity: 0;
	color: white;
	font-size: 1.5em;
	font-weight: lighter;
    -webkit-transition: 0.3ms;
	-moz-transition: 0.3ms;
	-o-transition: 0.3s;
    transition: 0.3s;
}

/*.disable {
	z-index: -1;
}*/

.button {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 160%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
	position: absolute;
    top: 50%;
    color: white;
}

#resume {
	font-size: 120%;
	left: 1.2%;
	text-align: center;
}

#resume:hover {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}


#blog {
	font-size: 120%;
	text-align: center;
	right: 1.2%;
}

#blog:hover {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

#aboutme_container {
    margin-top: 13%;
    width: 11vw;
    height: 5vw;
    margin-left: 44.5%;
}

#aboutme {
	font-size: 120%;
    text-align: center;
    top: 88%;
    width: 13vw;
    left: 43.4%;
}

#arrow {
	font-size: 120%;
	text-align: center;
	top: 92%;
	left: 49.3%;
	width: 2vw;
}

#aboutme_container:hover #arrow {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

#aboutme_container:hover #aboutme {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

/*Everything in the about-me cointainer*/

.about-me {
	margin-top: 100vh;
}

.about-me-inactive {
	display: none;
}

#amsec1 {
	background-color: white;
	padding-top: 20vh;
	padding-bottom: 30vh;
	width: 100vw;
	height: 100vh;
	color: black;
}

.amword {
	width: 100%;
	text-align: center;
	margin-bottom: 1%;
	font-size: 600% !important;
}

.amworddescrip {
    margin-left: 12%;
    margin-right: 12%;
    text-align: center !important;
    font-size: 150% !important;
}

.name-svg {
	height: 100%;
    width: 85%;
    margin: auto;
    display: block;
}

.name-svg {
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 5s 1 linear;
          animation: stroke-offset 5s 1 linear;
}

/*add this class with jquery and remove after 5s*/
/*add different class with jquery for continuous line movement effect. name it something else. add keyframes css class to it*/

/*.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}*/

/*@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}*/

@keyframes stroke-offset {
  /*50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }*/
  100% {
  	stroke-dashoffset: 0%;
  	stroke-dasharray: 100% 0;
  }
}

/*
RESUME
Everything in class="screen" id="res"
*/

.res {
	background-color:rgba(255, 255, 255, 0);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
  	min-height: 100%;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
	display: none;
}

.res-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0);
}

.res-active-display {
	display: block;
}

.main-active {
	opacity: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}


.home {
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    -webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
    transition: all 1s;
    height: 6vh;
    margin-left: 1%;
}

.home:hover {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.resmenu {
    position: fixed;
    left: 89%;
    width: 100%;
    top: 35%;
    z-index: -5;
    transition: 750ms;
    opacity: 0;
    color: black;
}

.menu-visible {
	opacity: 1;
	z-index: 1;
}

.menu-white {
	color: white;
}

.menu-transition {
	transition: 25ms;
}

.totop {
    width: 5vw;
    height: 10vh;
    margin-left: 1.35%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3vh;
    -webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
    transition: all 2s;
}

.toparrow {
	font-size: 120%;
    text-align: center;
    top: 88%;
    width: 4vw;
}

.topword {
	font-size: 120%;
    text-align: center;
    width: 6vw;
    padding-right: 2vw;
}

.totop:hover .topword {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.totop:hover .toparrow {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}


.section {
	padding-top: 40px;
    padding-right: 15%;
    padding-bottom: 40px;
    padding-left: 15%;
}

/*Header Section*/

#header_container {
	padding-top: 15%;
    text-align: center;
    left: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
}

#resheader {
	padding-bottom: 2%;
	margin: 0 auto;
	font-size: 8em;
}

#resheader:after {
	content: "";
    background: black;
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 1px;
    left: 20%;
}

.ressubtitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
}

/*Section standard css*/

hr {
	margin-top: 5%;
	margin-bottom: 5%;
    border-color: #727878;
    opacity: 0.2;
    border-width: 0.5px;
    border-style: solid;
}

.head {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
    font-weight: lighter;
    font-size: large;
}

.col {
	display: inline-block;
	vertical-align: top;
}

.third {
	width: 32%;
}

.third img {
	width: 100%;
	height: 100%;
	margin-left: 4.5%;
}

#hack1 {
	padding-left: 4.5%;
}

.sec_title {
	font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    width: 100%;
	position: relative;
	color: teal;
}

.sec_subtitle {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
    font-size: x-large;
    color: teal;
}

/*Everything in class="section" id="profile"*/

.writing {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: medium;
	line-height: 170%;
	word-spacing: 3px;
	letter-spacing: 1px;
	margin-top: 0;
	margin-bottom: 0;
}

#s1 {
	line-height: 180%;
}

/*Everything in class="section" id="education"*/

#edudescrip {
	text-align: left;
    padding-left: 25%;
    margin-top: 10px;
}

.under {
	background: white;
}

#coldescrip {
	display: inline-block;
}

#college {
	width: 100%;
	text-align: center;
}

#coltitle {
	font-size: 1.8em;
}

#twothirds {
	width: 66%;
}

.relcoursesub {
	font-family: 'Montserrat';
	margin-top: 3%;
	text-align: left;
}

.relcoursetitle {
	font-family: 'Montserrat';
	font-weight: bold;
	margin-top: 8px;
}

#relcourse {
	margin-bottom: 3%;
}

#edhead {
	margin-top: 5%;
	margin-bottom: 3%;
}

#edsubhead {
	margin-top: 5%;
	margin-bottom: 3%;
	font-size: larger;
}

/*Everything in class="section" id="experience"*/

#exp {
	color: black;
	font-size: 1.6em;
}

#jobhead {
	margin-top: 3%;
	margin-bottom: 5%;
}

#edsub {
	font-size: small;
}

/*Everything in class="section" id="projects"*/

#half {
	width: 45.7%;
    margin: 2%;
    display: inline-block;
    vertical-align: top;
}

/*Everything in class="section" id="skills"*/

#skills {
	height: 125vh;
}

#hack {
	width: 45.7%;
    margin: 2%;
}

ul {
	list-style-type: none;
}

.skill {
	font-family: 'Raleway', sans-serif;
    margin-bottom: 2%;
    vertical-align: top;
    height: 3.5vh;
}

#tag {
	padding-top: 1%;
}

#rating {
	float: right;
	color: teal;
	font-size: 120%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
	margin-top: 0px;
}

#norating {
	float: right;
	color: #D3D3D3;
	font-size: 120%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
	margin-top: 0px;
}

.skill:hover #rating {
	letter-spacing: 3px;
}

.skill:hover {
	background-color: #ededed;
}

#hidden {
	opacity: 0;
    padding-top: 1.4%;
    float: right;
    color: teal;
    margin-right: 3%;
    -webkit-transition: 0.3ms;
	-moz-transition: 0.3ms;
	-o-transition: 0.3s;
    transition: 0.3s;
}

.skill:hover #hidden {
	opacity: 1;
    -webkit-transition: 0.3ms;
	-moz-transition: 0.3ms;
	-o-transition: 0.3s;
    transition: 0.3s;
}

/*Everything in class="screen" id="project"*/

#project {
	width: 100%;
	height: 100%;
}

.shade:hover {
	display: block;
}

.shade {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: teal;
}

/*Everything in class="screen" id="contact"*/

#contact {
	background-color: black;
	height: 100vh;
}

#icon {
	width: 5vw;
	height: 9vh;
}

#contact-writing {
	color: white;
}

.fourth {
	width: 24.5%;
	display: inline-block;
	text-align: center;
}

#one {
	width: 100%;
	left: auto;
	right: auto;
}

.download-button {
	font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 2px solid white;
    height: 100%;
    width: 20%;
    padding: 1%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.download-button a:link {
	text-decoration: none;
	color: white;
}

.download-button a:visited {
	text-decoration: none;
	color: white;
}

/*BLOG
Everything in class="screen medium"*/

.blog {
	background-color:rgba(255, 255, 255, 0);
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
  	min-height: 100%;
  	font-family: 'Montserrat', sans-serif;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
	display: none;
}

.blog-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0);
}

.blog-active-display {
	display: block;
}

#bloghome {
	margin-left: -0.4%;
	width: 7.5vw;
    height: 6vh;
}

.blogmenu {
    position: fixed;
    left: 2%;
    width: 100%;
    top: 35%;
    z-index: 1;
    transition: 1.5s;
    color: black;
    display: none;
}

.blogmenu-active-display {
	display: block;
}

.totop {
    width: 5vw;
    height: 10vh;
    margin-left: 1.35%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3vh;
    -webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
    transition: all 2s;
}

.toparrow {
	font-size: 120%;
    text-align: center;
    top: 88%;
    width: 4vw;
}

.topword {
	font-size: 120%;
    text-align: center;
    width: 6vw;
    padding-right: 2vw;
}

.totop:hover .topword {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.totop:hover .toparrow {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.home {
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    -webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
    transition: all 1s;
    height: 6vh;
    margin-left: 1%;
}

.home:hover {
	font-size: 150%;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}


.main-active {
	opacity: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.post {
	margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 1em;
    font-weight: 900;
    padding-right: 5vw;
    padding-left: 5vw;
}

